
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
  scrollbar-gutter: stable;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
  min-height: 100%;

  font-family: -apple-system, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}
/* You can add global styles to this file, and also import other style files */

$primary-color: #333;
$accent-color: #555;
$divider-color: #ccc;
$text-color: #2c3e50;
$meta-color: #666;

.markdown-body {
    background: #fff;
    color: $text-color;
    padding: 3rem;
    padding-top: 4rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    // border-radius: 8px;
    line-height: 1.6;

    @media (max-width: 600px) {
        padding: 1.5rem;
    }
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: $primary-color;

    &:first-of-type {
        font-size: 2.5rem;
        border-bottom: none;
        margin-bottom: 0rem;
        text-align: center;
    }
}